
body {
  background-color: white;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}
#paddleLeft {
  background-color: red;
  left: 0px;
  top: 220px;
  width: 20px;
  height: 80px;
  position: absolute;
}
#paddleRight {
  background-color: blue;
  left: 420px;
  top: 220px;
  width: 20px;
  height: 80px;
  position: absolute;
}
#ball {
  background-color: white;
  left: 220px;
  top: 220px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
}
